current_code/aclocal.m4
current_code/autogen.sh
current_code/autom4te.cache/
current_code/autoscan.log
current_code/build-aux
current_code/config.cache
current_code/config.h
current_code/config.h.in
current_code/config.h.in~
current_code/config.log
current_code/config.status
current_code/configure
current_code/configure.scan
current_code/INSTALL
current_code/Makefile
current_code/Makefile.in
current_code/mkinstalldirs
current_code/opendias.anjuta
current_code/opendias-*.tar.gz
current_code/sql/Makefile
current_code/sql/Makefile.in
current_code/src/dbaccess.gcda
current_code/src/dbaccess.gcno
current_code/src/dbaccess.o
current_code/src/db.gcda
current_code/src/db.gcno
current_code/src/db.o
current_code/src/debug.gcda
current_code/src/debug.gcno
current_code/src/debug.o
current_code/src/.deps/
current_code/src/doc_editor.gcda
current_code/src/doc_editor.gcno
current_code/src/doc_editor.o
current_code/src/imageProcessing.gcda
current_code/src/imageProcessing.gcno
current_code/src/imageProcessing.o
current_code/src/import_doc.gcda
current_code/src/import_doc.gcno
current_code/src/import_doc.o
current_code/src/main.gcda
current_code/src/main.gcno
current_code/src/main.o
current_code/src/Makefile
current_code/src/Makefile.in
current_code/src/ocr_plug.gcda
current_code/src/ocr_plug.gcno
current_code/src/ocr_plug.o
current_code/src/opendias
current_code/src/opendiasconfig
current_code/src/opendiasconfig.gcda
current_code/src/opendiasconfig.gcno
current_code/src/opendiasconfig.o
current_code/src/pageRender.gcda
current_code/src/pageRender.gcno
current_code/src/pageRender.o
current_code/src/odf_plug.gcda
current_code/src/odf_plug.gcno
current_code/src/odf_plug.o
current_code/src/pdf_plug.gcda
current_code/src/pdf_plug.gcno
current_code/src/pdf_plug.o
current_code/src/saneDispatcher.gcda
current_code/src/saneDispatcher.gcno
current_code/src/saneDispatcher.o
current_code/src/scan.gcda
current_code/src/scan.gcno
current_code/src/scanner.gcda
current_code/src/scanner.gcno
current_code/src/scanner.o
current_code/src/scan.o
current_code/src/simpleLinkedList.gcda
current_code/src/simpleLinkedList.gcno
current_code/src/simpleLinkedList.o
current_code/src/speak.o
current_code/src/utils.gcda
current_code/src/utils.gcno
current_code/src/utils.o
current_code/src/validation.gcda
current_code/src/validation.gcno
current_code/src/validation.o
current_code/src/web_handler.gcda
current_code/src/web_handler.gcno
current_code/src/web_handler.o
current_code/stamp-h1
current_code/test/config/startAppCommand
current_code/test/config/startAppCommands
current_code/test/_Inline/
current_code/test/results/
current_code/webcontent/images/datepicker/Makefile
current_code/webcontent/images/datepicker/Makefile.in
current_code/webcontent/images/easySlider/Makefile
current_code/webcontent/images/easySlider/Makefile.in
current_code/webcontent/images/jquery-ui/Makefile
current_code/webcontent/images/jquery-ui/Makefile.in
current_code/webcontent/images/Makefile
current_code/webcontent/images/Makefile.in
current_code/webcontent/images/tablesorter/Makefile
current_code/webcontent/images/tablesorter/Makefile.in
current_code/webcontent/includes/Makefile
current_code/webcontent/includes/Makefile.in
current_code/webcontent/Makefile
current_code/webcontent/Makefile.in
current_code/webcontent/style/Makefile
current_code/webcontent/style/Makefile.in
current_code/src/dirconfig.h
current_code/sql/openDIAS.sqlite3.dmp.v4.sql
current_code/scripts/Makefile
current_code/scripts/Makefile.in
current_code/scripts/openDIAS
current_code/src/read_odf.o
opendias*
current_code/test/config/Makefile
current_code/test/config/sane/Makefile
current_code/test/config/sane/Makefile.in
current_code/test/config/Makefile.in
current_code/test/regressionTests/inputs/3_1_doclist/homeDir/Makefile
current_code/test/regressionTests/inputs/3_1_doclist/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_1_doclist/Makefile
current_code/test/regressionTests/inputs/3_1_doclist/Makefile.in
current_code/test/regressionTests/inputs/3_1_doclist/intest/Makefile
current_code/test/regressionTests/inputs/3_1_doclist/intest/Makefile.in
current_code/test/regressionTests/inputs/8_3_doc_detail_missing/homeDir/Makefile
current_code/test/regressionTests/inputs/8_3_doc_detail_missing/homeDir/Makefile.in
current_code/test/regressionTests/inputs/8_3_doc_detail_missing/Makefile
current_code/test/regressionTests/inputs/8_3_doc_detail_missing/Makefile.in
current_code/test/regressionTests/inputs/3_b_validation/homeDir/Makefile
current_code/test/regressionTests/inputs/3_b_validation/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_b_validation/Makefile
current_code/test/regressionTests/inputs/3_b_validation/Makefile.in
current_code/test/regressionTests/inputs/3_8_autoComplete/homeDir/Makefile
current_code/test/regressionTests/inputs/3_8_autoComplete/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_8_autoComplete/Makefile
current_code/test/regressionTests/inputs/3_8_autoComplete/Makefile.in
current_code/test/regressionTests/inputs/3_7_deleteDoc/homeDir/Makefile
current_code/test/regressionTests/inputs/3_7_deleteDoc/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_7_deleteDoc/Makefile
current_code/test/regressionTests/inputs/3_7_deleteDoc/Makefile.in
current_code/test/regressionTests/inputs/3_2_doclist_search/homeDir/Makefile
current_code/test/regressionTests/inputs/3_2_doclist_search/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_2_doclist_search/Makefile
current_code/test/regressionTests/inputs/3_2_doclist_search/Makefile.in
current_code/test/regressionTests/inputs/8_4_scan/homeDir/Makefile
current_code/test/regressionTests/inputs/8_4_scan/homeDir/Makefile.in
current_code/test/regressionTests/inputs/8_4_scan/Makefile
current_code/test/regressionTests/inputs/8_4_scan/Makefile.in
current_code/test/regressionTests/inputs/8_1_basic_pages/homeDir/Makefile
current_code/test/regressionTests/inputs/8_1_basic_pages/homeDir/Makefile.in
current_code/test/regressionTests/inputs/8_1_basic_pages/Makefile
current_code/test/regressionTests/inputs/8_1_basic_pages/Makefile.in
current_code/test/regressionTests/inputs/3_6_moveTag/homeDir/Makefile
current_code/test/regressionTests/inputs/3_6_moveTag/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_6_moveTag/Makefile
current_code/test/regressionTests/inputs/3_6_moveTag/Makefile.in
current_code/test/regressionTests/inputs/3_4_getDocDetails/homeDir/Makefile
current_code/test/regressionTests/inputs/3_4_getDocDetails/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_4_getDocDetails/Makefile
current_code/test/regressionTests/inputs/3_4_getDocDetails/Makefile.in
current_code/test/regressionTests/inputs/8_2_doc_detail/homeDir/Makefile
current_code/test/regressionTests/inputs/8_2_doc_detail/homeDir/Makefile.in
current_code/test/regressionTests/inputs/8_2_doc_detail/Makefile
current_code/test/regressionTests/inputs/8_2_doc_detail/Makefile.in
current_code/test/regressionTests/inputs/1_4_various_kills_are_ignored/homeDir/Makefile
current_code/test/regressionTests/inputs/1_4_various_kills_are_ignored/homeDir/Makefile.in
current_code/test/regressionTests/inputs/1_4_various_kills_are_ignored/Makefile
current_code/test/regressionTests/inputs/1_4_various_kills_are_ignored/Makefile.in
current_code/test/regressionTests/inputs/Makefile
current_code/test/regressionTests/inputs/3_3_getScannerList/homeDir/Makefile
current_code/test/regressionTests/inputs/3_3_getScannerList/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_3_getScannerList/Makefile
current_code/test/regressionTests/inputs/3_3_getScannerList/Makefile.in
current_code/test/regressionTests/inputs/3_5_updateDocDetails/homeDir/Makefile
current_code/test/regressionTests/inputs/3_5_updateDocDetails/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_5_updateDocDetails/Makefile
current_code/test/regressionTests/inputs/3_5_updateDocDetails/Makefile.in
current_code/test/regressionTests/inputs/1_5_could_not_start_http_service/homeDir/Makefile
current_code/test/regressionTests/inputs/1_5_could_not_start_http_service/homeDir/Makefile.in
current_code/test/regressionTests/inputs/1_5_could_not_start_http_service/Makefile
current_code/test/regressionTests/inputs/1_5_could_not_start_http_service/Makefile.in
current_code/test/regressionTests/inputs/3_a_scanning/homeDir/Makefile
current_code/test/regressionTests/inputs/3_a_scanning/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_a_scanning/Makefile
current_code/test/regressionTests/inputs/3_a_scanning/Makefile.in
current_code/test/regressionTests/inputs/Makefile.in
current_code/test/regressionTests/inputs/3_c_import/homeDir/Makefile
current_code/test/regressionTests/inputs/3_c_import/homeDir/Makefile.in
current_code/test/regressionTests/inputs/3_c_import/Makefile
current_code/test/regressionTests/inputs/3_c_import/Makefile.in
current_code/test/regressionTests/Makefile
current_code/test/regressionTests/expected/3_1_doclist/Makefile
current_code/test/regressionTests/expected/3_1_doclist/Makefile.in
current_code/test/regressionTests/expected/8_3_doc_detail_missing/Makefile
current_code/test/regressionTests/expected/8_3_doc_detail_missing/Makefile.in
current_code/test/regressionTests/expected/3_b_validation/Makefile
current_code/test/regressionTests/expected/3_b_validation/Makefile.in
current_code/test/regressionTests/expected/3_8_autoComplete/Makefile
current_code/test/regressionTests/expected/3_8_autoComplete/Makefile.in
current_code/test/regressionTests/expected/3_7_deleteDoc/Makefile
current_code/test/regressionTests/expected/3_7_deleteDoc/Makefile.in
current_code/test/regressionTests/expected/3_2_doclist_search/Makefile
current_code/test/regressionTests/expected/3_2_doclist_search/Makefile.in
current_code/test/regressionTests/expected/8_4_scan/Makefile
current_code/test/regressionTests/expected/8_4_scan/Makefile.in
current_code/test/regressionTests/expected/8_1_basic_pages/Makefile
current_code/test/regressionTests/expected/8_1_basic_pages/Makefile.in
current_code/test/regressionTests/expected/3_6_moveTag/Makefile
current_code/test/regressionTests/expected/3_6_moveTag/Makefile.in
current_code/test/regressionTests/expected/3_4_getDocDetails/Makefile
current_code/test/regressionTests/expected/3_4_getDocDetails/Makefile.in
current_code/test/regressionTests/expected/8_2_doc_detail/Makefile
current_code/test/regressionTests/expected/8_2_doc_detail/Makefile.in
current_code/test/regressionTests/expected/1_2_failed_to_create_database/Makefile
current_code/test/regressionTests/expected/1_2_failed_to_create_database/Makefile.in
current_code/test/regressionTests/expected/1_1_create_database/Makefile
current_code/test/regressionTests/expected/1_1_create_database/Makefile.in
current_code/test/regressionTests/expected/1_4_various_kills_are_ignored/Makefile
current_code/test/regressionTests/expected/1_4_various_kills_are_ignored/Makefile.in
current_code/test/regressionTests/expected/Makefile
current_code/test/regressionTests/expected/3_3_getScannerList/Makefile
current_code/test/regressionTests/expected/3_3_getScannerList/Makefile.in
current_code/test/regressionTests/expected/3_5_updateDocDetails/Makefile
current_code/test/regressionTests/expected/3_5_updateDocDetails/Makefile.in
current_code/test/regressionTests/expected/1_5_could_not_start_http_service/Makefile
current_code/test/regressionTests/expected/1_5_could_not_start_http_service/Makefile.in
current_code/test/regressionTests/expected/3_a_scanning/Makefile
current_code/test/regressionTests/expected/3_a_scanning/Makefile.in
current_code/test/regressionTests/expected/Makefile.in
current_code/test/regressionTests/expected/3_c_import/Makefile
current_code/test/regressionTests/expected/3_c_import/Makefile.in
current_code/test/regressionTests/expected/1_3_missing_config_file/Makefile
current_code/test/regressionTests/expected/1_3_missing_config_file/Makefile.in
current_code/test/regressionTests/lib/Makefile
current_code/test/regressionTests/lib/Makefile.in
current_code/test/regressionTests/Makefile.in
current_code/test/suppressions/Makefile
current_code/test/suppressions/Makefile.in
current_code/test/Makefile
current_code/test/Makefile.in
